
body{
    background-color: #ffffff;
}

td img {
    width: 40%;
}

.card{
    margin-top: 10px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #7b857f;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header{
    padding: .75rem 1.25rem;
    margin-top: -2.5px;
    margin-bottom: 0;
    background-color: #8f82ab;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
    font-family: Arial;
}

.card-body{
    padding: 1.25rem;
}

.project img{
    max-width: 90%;
    padding-left: 5%;
}

.project h3 {
    text-align: center;
}

footer{
    text-align: center;
}

a {
    color: #0056b3;
}

.skills{
    display: flex;
    justify-content : space-between;
}

.contact label{
    display: block;
    width: 20%;
    float: left;
    padding-right: 1%;
    text-align: right;
    letter-spacing: 1px;
}

.contact input, .contact textarea{
    margin-left: 1%;
    width: 58%;
}

.contact g-recaptcha{
    width: 20%;
}
/**
Map
**/
.map{
    display: flex;
}

#map_text{
    padding-top: 5%;
    padding-left: 5%;
}

.network {
    display: inline-block;
}

.creation{
    padding-left: 10%;
}


/**
Diaporama
 */
.owl-carousel{
    width: 80%;
    margin-left: 10%;
}

.owl-stage{
    background-color: #8f82ab;

}

.owl-item img{
    width: 50%;
    height: 500px;
}

.owl-nav{
    display: none;
}
.item-img {
    display: block;
    width: 100%;
    height: auto;
}

.item_title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

