
body{
    background-color: #ffffff;
}

td img {
    width: 40%;
}

.card{
    margin-top: 10px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #7b857f;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header{
    padding: .75rem 1.25rem;
    margin-top: -2.5px;
    margin-bottom: 0;
    background-color: #8f82ab;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
    font-family: Arial;
}

.card-body{
    padding: 1.25rem;
}

.project img{
    max-width: 90%;
    padding-left: 5%;
}

.project h3 {
    text-align: center;
}

footer{
    text-align: center;
}

a {
    color: #0056b3;
}

.skills{
    display: flex;
    justify-content : space-between;
}

/**
Map
**/
.map{
    display: flex;
}

#map_text{
    padding-top: 5%;
    padding-left: 5%;
}

.creation{
    padding-left: 10%;
}

/**
Diaporama
 */


.item {
    margin: 40px 10px;
    background-color: #8f82ab;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item:hover  {
    transform: translate3d(0, -10px, 0);
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

.item_body {
    padding: 25px;
}

.item_title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item_description {
    color: #585858;
}

.items {
    position: relative;
}

/**
CAROUSEL
 */
.carousel {
    position: relative;
}

.carousel_item {
    float: left;
}

.diaporama{
    position:relative;
    width:512px; /* Largeur d'une photo */
    height:288px /* Hauteur d'une photo */
}

.diaporama li{
    list-style-type:none;
    overflow:hidden;
    position:absolute /* Les images seront positionnées toutes au même endroit */
}

.diaporama_controls{
    width:512px;
    margin:3px 0;
    padding:5px;
    clear:both;
    overflow:hidden;
}

.diaporama_controls .btns{
    float:right;
}

.diaporama_controls a{
    font-weight:normal;
    width:10px;
    height:13px;
    text-indent:-9999px;
    display:inline-block;
    margin:0 3px;
}