hr.star-light:after {
    background: #8f82ab;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #8f82ab
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #fffff;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background: #8f82ab
;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    background: #8f82ab
;
}
.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(143, 130, 171, 0.9);
}
.floating-label-form-group-with-focus label {
    color: #8f82ab;
}
a {
    color: #8f82ab;
}
a:focus, a:hover, a:active {
    color: #8f82ab;
}
.bg-primary {
    background-color: #8f82ab !important;
}
.text-primary {
    color: #8f82ab !important;
}
.btn-primary {
    background-color: #8f82ab;
    border-color: #8f82ab;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #8f82ab;
    border-color: #8f82ab;
}

.mx-auto {
    border-radius: 50%;
}

.mx-auto img{
    border-radius: 50%;
}

#connectForm {
    color: #8f82ab;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #ffff;
}

table img {
    max-width: 150px;
}
